[submodule "dependencies/fpc-zmq"]
	path = dependencies/fpc-zmq
	url = git@github.com:cpicanco/fpc-zmq.git
[submodule "dependencies/libzmq"]
	path = dependencies/libzmq
	url = https://github.com/zeromq/libzmq.git
