*.*~
*.a
*.bak
*.bin
*.csv
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.ico
*.identcache
*.ini
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.res
*.res
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.xml
*.zip
*.~*~
*/backup/*
*~
/P*/*
__history
backup/*
id