*.*~
*.a
*.bak
*.bin
*.csv
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.ico
*.identcache
*.ini
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.res
*.res
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.xml
*.zip
*.~*~
*~
/P*/*
__history
*backup*
id
experiment_runner/experiment_runner
experiment_runner/Participant*/*
experiment_runner/lib/x86_64-linux/*.lfm